@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #8B322C;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #FFC470;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #EEB668;
}

.completed {
  @apply line-through decoration-2 decoration-[#4793AF] text-[#ffc37098];
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.todoLi:hover {
  @apply line-through decoration-2 decoration-[#4793AF] text-[#ffc37098];
}

.todoLi:checked {
  @apply line-through decoration-2 decoration-[#4793AF];
}